@page
@model PracticeWithVideo.Pages.Admin.MenuItems.IndexModel


<partial name="_Notification"/>
<div class="container p-3">
    <div class="row pt-4">  
        <div class="col-6">
            <h2 class="text-primary">MenuItem List</h2>
        </div>
        <div class="col-6">
            <a asp-page="upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Menu Item
            </a>
        </div>
    </div>
    <br /><br />
  
    <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
               
                <th>
                     Price
                </th>
                <th>Category</th>
                <th>Food Types</th>
                <th>Id</th>
            </tr>
        </thead>
       
    </table>

</div>
@section Scripts{
    <script src="~/js/menuitem.js"></script>
}

